---

---

<article>
	<!-- que es oklch -->
	<h2>que es oklch</h2>
	<h5>Espacio de color Oklab:</h5>
	<p>
		El espacio de color Oklab es un espacio de color perceptualmente uniforme, lo que significa que las diferencias en
		los valores de los colores corresponden mejor a las diferencias en la percepción humana.
	</p>
	<h5>Formato:</h5>
	<p>oklch(L C H) o oklch(L C H / a).</p>
	<ul>
		<li>L (Luminosidad): Representa la luminosidad percibida, que va de 0 a 1, donde 0 es negro y 1 es blanco.</li>
		<li>
			C (Chroma): Representa la saturación percibida, que va de 0 a 1, donde 0 es desaturado y 1 es completamente
			saturado.
		</li>
		<li>
			H (Hue): Representa la tonalidad percibida, que va de 0 a 360 grados, donde 0 es rojo, 120 es verde y 240 es azul.
		</li>
	</ul>
	<code>
		/* Un color azul con una luminosidad de 0.6, un croma de 0.3 y un tono de 240 grados */ background-color: oklch(0.6
		0.3 240);
	</code>
</article>
