<section>
	<div class="flotante">Elemento flotante</div>
	<p>Este texto envuelve alrededor del elemento flotante. Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere nesciunt error facilis at nulla, itaque eius explicabo, dolorum qui obcaecati sint ad odio officiis deserunt neque dolorem ipsam amet quibusdam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, iure minus optio porro cumque delectus soluta eius nisi mollitia quos debitis magnam quo placeat odio ex? Nemo, impedit cumque! Voluptate.</p>
</section>


<style>
    section {
        width: 400px;
        background-color: rgb(68, 68, 68);
    }
	.flotante {
		float: left;
		width: 200px;
		height: 100px;
		background-color: #000000;
		margin: 10px;
	}
</style>
