---
import Layout from "../../layout.astro";
const articulos = await Astro.glob("./article/*.md");
const [Propiedades] = articulos.map((articulo) => articulo.Content);
---

<Layout>
	<h1>CSS</h1>
	<Propiedades />
    
</Layout>
